* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

.div-background {
    background-image: url('/img/center_pokemon.jpg');
    width: 1536px;
}

.div-flex {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-blue {
    background-color: skyblue;
    padding: 2.2rem;
    border-radius: 5px;
}

#pokemon {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

#pokemon div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#pokemon div input {
    padding: 0.2rem;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: bisque;
}